/* header */

header {
  display: inline-flex;
  padding: 5px;
  background-color: orange;
  width: 100%;
  justify-content: space-between;
}

.hamburger {
  padding: 5px;
}

.hamburger {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.logo-youtube, .pesquisa, .usuario {
  display: inline-flex;
  align-items: center;
}

.logo-youtube img {
  margin-left: 30px;
}

.pesquisa span {
  margin-left: 10px;
}

.usuario {
  margin-right: 15px;
}

#notificacao {
  margin: 0 15px;
}

.usuario img {
  width: 40px;
  height: 40px;
}
