header {
  display: inline-flex;
}

.hamburger {
  padding: 5px;
}

.hamburger {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}
