/* header */

header {
  display: inline-flex;
  padding: 5px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger, .logo-youtube, .material-symbols-outlined, .usuario img {
  cursor: pointer;
}

.hamburger {
  padding: 5px;
}

.hamburger {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background: none;
  cursor: pointer;
  gap: 0.5rem;
}
#hamburger {
  border-top: 2px solid;
  width: 20px;
}

#hamburger::after,
#hamburger::before {
  content: '';
  display: block;
  width: 20px;
  height: 2px;
  background: currentColor;
  margin-top: 5px;
  transition: 0.3s;
  position: relative;
}

.logo-youtube, .pesquisa, .usuario {
  display: inline-flex;
  align-items: center;
}

.logo-youtube img {
  margin-left: 30px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.pesquisa-lupa {
  background-color: #f8f8f8;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 0 10px 0 10px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.pesquisa input {
  border: 1px solid black;
  height: 35px;
  width: 300px;
  padding: 0 10px;
  font-size: large;
}

.usuario {
  margin-right: 15px;
}

#notificacao {
  margin: 0 15px;
}

.usuario img {
  width: 40px;
  height: 40px;
}
